[submodule "externalLib/sdl3"]
	path = externalLib/sdl3
	url = https://github.com/dinau/sdl3_nim
[submodule "externalLib/shaderc"]
	path = externalLib/shaderc
	url = https://github.com/RowDaBoat/shadercnim
[submodule "externalLib/opengl"]
	path = externalLib/opengl
	url = https://github.com/nim-lang/opengl
[submodule "externalLib/nimopencl"]
	path = externalLib/nimopencl
	url = https://github.com/nim-lang/opencl
