/testresults/
/tests/megatest.nim
/nimcache/
*.exe
*.txt

#Exlude everything from tests
tests/**

#but whitelist nim files
!tests/**/*.nim
src/Cruise
src/audio/device
src/ecs/ecs
src/render/render
stdplugin/rendergraph/core
